<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div style='float: right;'>
    <% if session[:object] %>
      Hello <%= session[:object][:name] %><br>
    <a href="/logout">Log out</a>
    <% else %>
      <a href="/signin">Log in</a>
      or
      <a href="/signup">Sign up</a>
    <% end %>
  </div>

  <%= yield %>

  <div class='list_display'>
    <h3 style='text-align: center;'>Below you will see a list of links that you have created:</h3>
    <% if session[:object] %>
      <% blah = Url.where(user_id: session[:object][:id]) %>
        <% blah.each do |x| %>
          <p>Original URL: <%= x.original_url %> <br> Shortened URL: <%= x.shortened_url %> <br> Number of clicks: <%= x.click_counter %> </p>
        <% end %>
    <% end %>
  </div>

</body>
</html>
